@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";

    var lstColecoes = ViewBag.lstColecoes;
    var lstProdutos = ViewBag.lstProdutos;
    decimal[] decimais =
    {
        78945.67m,
        45678.90m,
        23456.78m,
        12345.67m,
        56789.01m,
        34567.89m,
        90123.45m,
        67890.12m,
        89012.34m,
        54321.09m,
        98765.43m,
        87654.32m
    };

    decimal[] decimaisCustom =
    {
        65432.10m,
        21098.76m,
        78901.23m,
        54321.09m,
        10987.65m,
        98765.43m,
        87654.32m,
        43210.98m,
        32109.87m,
        189012.34m,
        65432.10m,
        12345.67m
    };

    decimal[] decimaisFabricados =
    {
        89012.34m,
        12345.67m,
        87654.32m,
        65432.10m,
        78901.23m,
        54321.09m,
        10987.65m,
        98765.43m,
        67890.12m,
        34567.89m,
        90123.45m,
        45678.90m
    };

    Dictionary<string, decimal> colecoes = new Dictionary<string, decimal>
    {
            { "Coleção A", 35000.21m },
            { "Coleção B", 52028.42m },
            // Adicione mais coleções conforme necessário
    };

    var arrayColecoes = colecoes.Select(kv => new object[] { kv.Key, kv.Value }).ToArray();

    Dictionary<string, decimal> produtos = new Dictionary<string, decimal>
    {
            { "Produto X", 45420.32m },
            { "Produto Y", 62048.98m },
            // Adicione mais produtos conforme necessário
    };

    var arrayProdutos = produtos.Select(kv => new object[] { kv.Key, kv.Value }).ToArray();

    var FaturamentoMensal = Html.Raw(Json.Serialize(decimais));
    var FaturamentoMensalCustom = Html.Raw(Json.Serialize(decimaisCustom));
    var FaturamentoMensalFabricado = Html.Raw(Json.Serialize(decimaisFabricados));
    var GraficoColecao = Html.Raw(Json.Serialize(arrayColecoes));
    var GraficoProduto = Html.Raw(Json.Serialize(arrayProdutos));

    List<CustomBancoLib.TB_Produto> lstRoupa = ViewBag.lstProdutosColecao;

    TempData["RoupasPartial"] = lstRoupa;

    var lstProdutosColecoes = TempData["RoupasDaColecao"] as Dictionary<string, List<CustomBancoLib.TB_Produto>>;

    List<string> chaves = new List<string>(lstProdutosColecoes.Keys);
    List<CustomBancoLib.TB_Produto> Produtos = lstProdutosColecoes.Values.SelectMany(x => x).ToList();

    //Console.WriteLine("===================");
    //if (lstRoupa is not null)
    //{
    //    foreach (var item in lstRoupa)
    //    {
    //        Console.WriteLine(item.IdProduto);
    //    }
    //}


}

<div class="container">
    <div class="row">
        <div class="col-md-6" >
            <div class="body table-responsive border rounded mt-5" style="max-height: 300px; overflow-y: auto;">
                <table class="table table-hover table-stripped">
                    <thead class="table-dark">
                        <tr>
                            <th style="letter-spacing: 3px;">
                                Coleções
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var colecao in lstColecoes) {
                            <tr>
                                <td scope="row">
                                    @colecao.Descricao
                                </td>
                                <td class="d-flex justify-content-evenly">
                                    <button class="btn btn-primary btn-sm material-symbols-outlined" id="btn-ver-roupas" data-tt="tooltip" data-bs-toggle="modal" data-bs-placement="bottom"
                                    title="Editar Coleção" data-bs-target="#EditarColecaoModal" onclick="AbrirModalEditarColecao(@colecao.IdColecao);">
                                        edit
                                    </button>
                                    <button class="btn btn-danger btn-sm material-symbols-outlined" data-bs-toggle="modal" data-bs-placement="bottom" data-tt="tooltip" id="btn-remover-colecao"
                                            title="Remover Coleção" data-bs-target="#RemoverColecaoModal"onclick="AbrirModalColecaoRemover('RestaurarModalRemoverColecao', @colecao.IdColecao);">
                                        delete
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>                
            </div>
            <button class="btn btn-success btn-sm mt-4 material-symbols-outlined" data-bs-toggle="modal" data-bs-placement="bottom" data-tt="tooltip"
                    title="Adicionar Coleção" data-bs-target="#AdicionarColecaoModal" onclick="RestaurarModalColecaoAdd('RestaurarModalAddColecao');">
                add
            </button>
            
        </div>
        <div class="col-md-6">
            <div class="body table-responsive border rounded mt-5 " style="max-height: 300px;overflow-y: auto;">
                <table class="table table-hover table-stripped" >
                    <thead class="table-dark">
                        <tr>

                            <th style="letter-spacing: 3px;">
                                Produtos
                            </th>
                            <th>Qtd</th>
                            <th>Av.</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody >
                        @foreach (var produto in lstProdutos)
                        {
                            <tr>
                                <td scope="row">
                                    @produto.Descricao
                                </td>
                                <td>
                                    @produto.qtd
                                </td>
                                <td>
                                    @produto.Avaliacao
                                </td>
                                <td class="d-flex justify-content-evenly">
                                    <button class="btn btn-primary btn-sm  material-symbols-outlined" data-bs-toggle="modal" data-bs-placement="bottom" data-tt="tooltip"
                                            title="Editar Produto" data-bs-target="#EditarRoupaModal" onclick="AbrirModalEditarRoupa(@produto.IdProduto);">
                                        edit
                                    </button>

                                    <button class="btn btn-danger btn-sm material-symbols-outlined" data-bs-toggle="modal" data-bs-placement="bottom" data-tt="tooltip"
                                            title="Remover Roupa" data-bs-target="#RemoverRoupaModal" onclick="AbrirModalRoupaRemover('RestaurarModalRemoverRoupa', @produto.IdProduto);">
                                        delete
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <button class="btn btn-success btn-sm mt-4 material-symbols-outlined" data-bs-toggle="modal" data-bs-placement="bottom" data-tt="tooltip"
                    title="Adicionar Roupa" data-bs-target="#AdicionarRoupaModal" onclick="RestaurarModalRoupaAdd('RestaurarModalAddRoupa');">
                add
            </button>
            
        </div>
        <div class="col">
            <div class="card mt-5">
                <div class="header text-center">
                    <div class=" col-md-12 fs-2 btn btn-dark">GRÁFICO DE VENDAS</div>
                </div>
                <div class="body">
                    <div class="row m-4">
                        <div class="col-md-12 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h4 class="text-start">
                                                Faturamento Mensal
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col position-relative d-inline-block" style="height: 220px;">
                                            <canvas id="faturamentoMensal"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row m-4">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h4 class="text-start">
                                                Vendas por Tipo
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col position-relative d-inline-block" style="height: 220px;">
                                            <canvas id="faturamentoMensalTipo"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row m-4">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h4 class="text-start">
                                                Vendas por Colecao
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col position-relative d-inline-block" style="height: 220px;">
                                            <canvas id="VendasColecao"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row m-4">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h4 class="text-start">
                                                Vendas por Produto
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col position-relative d-inline-block" style="height: 220px;">
                                            <canvas id="VendasProduto"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Adicionar Coleção-->
<div class="modal fade" id="AdicionarColecaoModal" tabindex="-1" aria-labelledby="AdicionarColecaoModal" aria-hidden="true">
    <div class="modal-dialog" id="AdicionarColecaoModalBody">
        
    </div>
</div>

<!-- Modal Editar Coleção-->
<div class="modal fade" id="EditarColecaoModal" tabindex="-1" aria-labelledby="EditarColecaoModal" aria-hidden="true">
    <div class="modal-dialog" id="EditarColecaoPartial">
        
    </div>
</div>


<!-- Modal Remover Coleção-->
<div class="modal fade" id="RemoverColecaoModal" tabindex="-1" aria-labelledby="RemoverColecaoModal" aria-hidden="true">
    <div class="modal-dialog" id="RemoverColecaoModalBody">
       
    </div>
</div>

<!-- Modal Adicionar Roupa-->
<div class="modal fade" id="AdicionarRoupaModal" tabindex="-1" aria-labelledby="AdicionarRoupaModal" aria-hidden="true">
    <div class="modal-dialog" id="AdicionarRoupaModalBody">
        
    </div>
</div>

<!-- Modal Remover Roupa-->
<div class="modal fade" id="RemoverRoupaModal" tabindex="-1" aria-labelledby="RemoverRoupaModal" aria-hidden="true">
    <div class="modal-dialog" id="RemoverRoupaModalBody">
        
    </div>
</div>

<!-- Modal Editar Coleção-->
<div class="modal fade" id="EditarRoupaModal" tabindex="-1" aria-labelledby="EditarColecaoModal" aria-hidden="true">
    <div class="modal-dialog" id="EditarRoupaPartial">
    </div>
</div>

<div id="PartialRoupas">
    @await Html.PartialAsync("_VisualizerRoupasPartial", lstRoupa);
</div>

 


@section Scripts{

    <!-- Logado js-->
    <script src="~/js/Logado.js"></script>

    <!--Chartjs-->
    <script src="~/plugins/chartjs/Chart.min.js"></script>

    <script type="text/javascript">
        gerarGraficoFaturamentoMensal(@FaturamentoMensal);
        gerarGraficoFaturamentoMensalCustomFabricados(@FaturamentoMensalCustom, @FaturamentoMensalFabricado);
        gerarGraficoVendasTipos(@GraficoColecao, @GraficoProduto);
    </script>
    
}