@page
@using Customzito.Views.Home;
@model IndexModel
@{
    if(TempData["Layout"] is not null)
    {
        Layout = TempData["Layout"] as string;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    var TopProdutos = ViewBag.TopProdutos;
    int contador = 0;
}


<section class="banner-1 d-flex flex-column">
   <img src="~/images/banner-1.svg" />
</section>
<section>
    <div class="container mt-5">
        <h1 class="text-center mb-5">MAIS VENDIDOS</h1>

        <div class="carousel slide" data-bs-ride="carousel" id="indicadorCarosel">
            <div class="carousel-inner d-flex align-items-center">
                <!-- Slide  -->
                @foreach (var Produto in TopProdutos)
                {
                    contador++;

                    @if(contador == 1)
                    {
                        <div class="carousel-item active">
                            <div class="d-flex justify-content-center">
                                <div class="card me-3 d-flex align-items-center">
                                    <img src="~/images/model-cz.png" class="card-img-top img-fluid" alt="Produto 1">
                                    <div class="card-body">
                                        <h5 class="card-title">@Produto.Titulo</h5>
                                        <p class="card-text">@Produto.Descricao</p>
                                        <a href="#" class="btn btn-dark">Comprar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center">
                                <div class="card me-3 d-flex align-items-center">
                                    <img src="~/images/model-cz.png" class="card-img-top img-fluid" alt="Produto 1">
                                    <div class="card-body">
                                        <h5 class="card-title">@Produto.Titulo</h5>
                                        <p class="card-text">@Produto.Descricao</p>
                                        <a href="#" class="btn btn-dark">Comprar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#indicadorCarosel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#indicadorCarosel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </button>
        </div>
    </div>

</section>
<section class="py-5">

    <h1 class="text-center mb-5">NOSSOS SERVIÇOS</h1>

    <div class="container d-flex justify-content-around flex-wrap">
        <div class="card card-move m-4 col-md-3 me-5" style="width: 20rem;">
            <img src="./images/customzito-card.svg" class="card-img-top"/>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title py-2 fw-bold">Customzito</h5>
                <p class="card-text">Customzito: Sua Moda, Sua Voz</p>
                <p>
                    Na Customzito, celebramos a cultura das periferias brasileiras e a transformamos em moda autêntica. Escolha entre nossas peças únicas ou crie sua própria camiseta personalizada. Seja parte de uma comunidade que valoriza a individualidade.
                </p>
                <a href="@Url.Action("Index","Sobre")" class="btn botao-padrao w-100 mt-auto">Sobre nós</a>
            </div>
        </div>

        <div class="card card-move m-4 col-md-3 me-5" style="width: 20rem;">
            <img src="./images/custom-card.svg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title py-2 fw-bold">Custom</h5>
                <p class="card-text">
                    Personalize uma peça do seu jeito!
                    Use as nossas estampas disponíveis na tela de personalização ou faça uplaod da sua própria arte!
                </p>
                <a href="@Url.Action("Index","Custom")" class="btn botao-padrao w-100 mt-auto">Customizar</a>
            </div>
        </div>

        <div class="card card-move m-4 col-md-3 me-5" style="width: 20rem;">
            <img src="./images/coleções-card.svg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title py-2 fw-bold">Nossas Coleções</h5>
                <p class="card-text">Aqui estão todas as nossas coleções disponíveis.</p>
                <a href="#" class="btn botao-padrao w-100 mt-auto">Quero ver!</a>
            </div>
        </div>
    </div>

</section>
<section class="banner-2 d-flex flex-column">
    <img src="~/images/banner - 2.svg"/>


</section>

<footer class="footer p-4 mt-auto">
    <div class="container">
        <div class="row">
            <!-- Coluna 1 -->
            <div class="col-md-4 col-sm-12">
                <h5 style="color: #B5FE01">Contato</h5>
                <ul class="list-unstyled">
                    <li>Email: <a href="mailto:seu@email.com">seu@email.com</a></li>
                    <li>Telefone: <a href="tel:+123456789">+123456789</a></li>
                    <li>Endereço: Sua Rua, Sua Cidade</li>
                </ul>
            </div>

            <!-- Coluna 2 -->
            <div class="col-md-4 col-sm-12">
                <h5 style="color: #B5FE01">Sobre Nós</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Quem Somos</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                </ul>
            </div>

            <!-- Coluna 3 -->
            <div class="col-md-4 col-sm-12">
                <h5 style="color: #B5FE01">Redes Sociais</h5>
                <ul class="list-unstyled">
                    <li><a class="btn text-white" href="#!"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a class="btn text-white" href="#!"><i class="fab fa-instagram"></i></a></li>
                    <li><a class="btn text-white" href="#!"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>












